In [23]:
import pandas as pd
from collections import Counter
from datetime import datetime, time, timedelta

data = pd.read_csv("G:\Mi unidad\dataset\samples_without_nan.csv", sep=',')
data['end_datetime'] = pd.to_datetime(data['end_datetime'])
data['init_datetime'] = pd.to_datetime(data['init_datetime'])
# data

ix = pd.DatetimeIndex(data['end_datetime']).floor('1h')
data['time'] = ix

data['time'] = data['time'].apply(lambda dt: str(dt).split()[-1])
data['hour'] = data['end_datetime'].apply(lambda dt: time(dt.time()).strftime("%H:%M:%S"))
data

TypeError: 'datetime.time' object cannot be interpreted as an integer

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212397 entries, 0 to 212396
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_sample      212397 non-null  int64
 1   id_linkref     212397 non-null  int64
 2   init_stop      212397 non-null  int64
 3   end_stop       212397 non-null  int64
 4   linkref        212397 non-null  object
 5   init_datetime  212397 non-null  datetime64[ns]
 6   end_datetime   212397 non-null  datetime64[ns]
 7   travel_time    212397 non-null  float64
 8   init_idp       180721 non-null  float64
 9   end_idp        180721 non-null  float64
 10  veh            212397 non-null  object
 11  lap            212397 non-null  float64
 12  date           212397 non-null  object
 13  time           212397 non-null  object
 14  hour           212397 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(4), object(5)
memory usage: 24.3+ MB

In [18]:
max_x = data.nlargest(10, ['end_datetime'])
max_x

,id_sample,id_linkref,init_stop,end_stop,linkref,init_datetime,end_datetime,travel_time,init_idp,end_idp,veh,lap,date,time,hour
208910,2517,82,117,118,117:118,2023-03-25 11:21:24,2023-03-25 11:22:00,36.0,17267723.0,17267827.0,SJ02,2.0,2023-03-25,11:00:00,11:22:00
208909,2517,81,116,117,116:117,2023-03-25 11:21:00,2023-03-25 11:21:24,24.0,17267657.0,17267723.0,SJ02,2.0,2023-03-25,11:00:00,11:21:24
208908,2517,80,115,116,115:116,2023-03-25 11:20:25,2023-03-25 11:21:00,35.0,17267548.0,17267657.0,SJ02,2.0,2023-03-25,11:00:00,11:21:00
208907,2517,79,114,115,114:115,2023-03-25 11:19:49,2023-03-25 11:20:25,36.0,17267440.0,17267548.0,SJ02,2.0,2023-03-25,11:00:00,11:20:25
208906,2517,78,113,114,113:114,2023-03-25 11:19:21,2023-03-25 11:19:49,28.0,17267358.0,17267440.0,SJ02,2.0,2023-03-25,11:00:00,11:19:49
208905,2517,77,112,113,112:113,2023-03-25 11:18:46,2023-03-25 11:19:21,35.0,17267246.0,17267358.0,SJ02,2.0,2023-03-25,11:00:00,11:19:21
208904,2517,76,111,112,111:112,2023-03-25 11:17:58,2023-03-25 11:18:46,48.0,17267098.0,17267246.0,SJ02,2.0,2023-03-25,11:00:00,11:18:46
208903,2517,75,110,111,110:111,2023-03-25 11:17:24,2023-03-25 11:17:58,34.0,17266992.0,17267098.0,SJ02,2.0,2023-03-25,11:00:00,11:17:58
208902,2517,74,109,110,109:110,2023-03-25 11:16:06,2023-03-25 11:17:24,78.0,17266816.0,17266992.0,SJ02,2.0,2023-03-25,11:00:00,11:17:24
208901,2517,73,108,109,108:109,2023-03-25 11:15:49,2023-03-25 11:16:06,17.0,17266735.0,17266816.0,SJ02,2.0,2023-03-25,11:00:00,11:16:06

In [2]:
# 5-12 , 13-17, 18-21
data['time'].value_counts()

time
07:00:00    20227
10:00:00    18869
11:00:00    18793
06:00:00    18754
12:00:00    18122
09:00:00    18084
08:00:00    17766
13:00:00    17272
14:00:00    16930
15:00:00    15287
05:00:00    14014
16:00:00    11325
17:00:00     4008
04:00:00     1082
18:00:00      741
19:00:00      613
20:00:00      473
21:00:00       37
Name: count, dtype: int64

In [57]:
def redondear_hora(dt, split):
    m = int(round(dt.time().minute/split, 0))*split
    if m == 60 or dt.time().hour == 4: 
        return time(dt.time().hour + 1, 0)   
    else:
        return time(dt.time().hour, m)   

n = 15
name_col = 'rg' + str(n)+'min'
data[name_col] = data['init_datetime'].apply(redondear_hora, split=n)
data.head(85)

,id_sample,id_linkref,init_stop,end_stop,linkref,init_datetime,end_datetime,travel_time,init_idp,end_idp,veh,lap,date,time,rg15min
0,0,0,0,36,0:36,2023-03-01 07:24:22,2023-03-01 07:27:33,191.0,NaN,NaN,SJ01,1.0,2023-03-01,07:00:00,07:30:00
1,0,1,36,37,36:37,2023-03-01 07:27:33,2023-03-01 07:29:19,106.0,13190622.0,13190922.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00
2,0,2,37,38,37:38,2023-03-01 07:29:19,2023-03-01 07:30:49,90.0,13190922.0,13191197.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00
3,0,3,38,39,38:39,2023-03-01 07:30:49,2023-03-01 07:31:13,24.0,13191197.0,13191276.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00
4,0,4,39,40,39:40,2023-03-01 07:31:13,2023-03-01 07:32:29,76.0,13191276.0,13191535.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,0,80,115,116,115:116,2023-03-01 08:39:35,2023-03-01 08:39:57,22.0,13204848.0,13204933.0,SJ01,1.0,2023-03-01,08:00:00,08:45:00
81,0,81,116,117,116:117,2023-03-01 08:39:57,2023-03-01 08:40:11,14.0,13204933.0,13204978.0,SJ01,1.0,2023-03-01,08:00:00,08:45:00
82,0,82,117,118,117:118,2023-03-01 08:40:11,2023-03-01 08:41:09,58.0,13204978.0,13205166.0,SJ01,1.0,2023-03-01,08:00:00,08:45:00
83,1,0,0,36,0:36,2023-03-01 10:34:33,2023-03-01 10:35:55,82.0,13228633.0,13228905.0,SJ01,2.0,2023-03-01,10:00:00,10:30:00
84,1,1,36,37,36:37,2023-03-01 10:35:55,2023-03-01 10:37:13,78.0,13228905.0,13229179.0,SJ01,2.0,2023-03-01,10:00:00,10:30:00

In [60]:
data['horas'] = data['rg15min'].apply(lambda t: t.hour)
data['minute'] = data['rg15min'].apply(lambda t: t.minute)
data

,id_sample,id_linkref,init_stop,end_stop,linkref,init_datetime,end_datetime,travel_time,init_idp,end_idp,veh,lap,date,time,rg15min,horas,minute
0,0,0,0,36,0:36,2023-03-01 07:24:22,2023-03-01 07:27:33,191.0,NaN,NaN,SJ01,1.0,2023-03-01,07:00:00,07:30:00,7,30
1,0,1,36,37,36:37,2023-03-01 07:27:33,2023-03-01 07:29:19,106.0,13190622.0,13190922.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00,7,30
2,0,2,37,38,37:38,2023-03-01 07:29:19,2023-03-01 07:30:49,90.0,13190922.0,13191197.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00,7,30
3,0,3,38,39,38:39,2023-03-01 07:30:49,2023-03-01 07:31:13,24.0,13191197.0,13191276.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00,7,30
4,0,4,39,40,39:40,2023-03-01 07:31:13,2023-03-01 07:32:29,76.0,13191276.0,13191535.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00,7,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212392,2559,78,113,114,113:114,2023-03-25 07:51:20,2023-03-25 07:51:32,12.0,17230377.0,17230410.0,SJ42,1.0,2023-03-25,07:00:00,07:45:00,7,45
212393,2559,79,114,115,114:115,2023-03-25 07:51:32,2023-03-25 07:53:02,90.0,17230410.0,17230632.0,SJ42,1.0,2023-03-25,07:00:00,07:45:00,7,45
212394,2559,80,115,116,115:116,2023-03-25 07:53:02,2023-03-25 07:53:14,12.0,17230632.0,17230662.0,SJ42,1.0,2023-03-25,07:00:00,08:00:00,8,0
212395,2559,81,116,117,116:117,2023-03-25 07:53:14,2023-03-25 07:53:26,12.0,17230662.0,17230688.0,SJ42,1.0,2023-03-25,07:00:00,08:00:00,8,0
212396,2559,82,117,118,117:118,2023-03-25 07:53:26,2023-03-25 07:54:02,36.0,17230688.0,17230787.0,SJ42,1.0,2023-03-25,07:00:00,08:00:00,8,0

In [ ]:
data.to_csv("G:\Mi unidad\dataset\\travel_time_series_2col.csv", index=False)

In [45]:
p = [0, 15, 30, 45]
#p = [0, 30]
# p = [0]
lista = [i for i in range(5, 23)] * len(p)
grupos = []

for i in range(len(set(lista))):
    tmp = [time(x, y).strftime("%H:%M:%S")  for x, y in zip(lista[i::len(set(lista))], p)]
    grupos += tmp

# print(grupos)
# print(len(grupos))

rango = {}
lon = 3
for i in range(len(grupos) - lon):
    rango[grupos[i] + ' ' + grupos[i+lon]] = i 

print(len(rango))
rango

33

{'05:00:00 06:30:00': 0,
 '05:30:00 07:00:00': 1,
 '06:00:00 07:30:00': 2,
 '06:30:00 08:00:00': 3,
 '07:00:00 08:30:00': 4,
 '07:30:00 09:00:00': 5,
 '08:00:00 09:30:00': 6,
 '08:30:00 10:00:00': 7,
 '09:00:00 10:30:00': 8,
 '09:30:00 11:00:00': 9,
 '10:00:00 11:30:00': 10,
 '10:30:00 12:00:00': 11,
 '11:00:00 12:30:00': 12,
 '11:30:00 13:00:00': 13,
 '12:00:00 13:30:00': 14,
 '12:30:00 14:00:00': 15,
 '13:00:00 14:30:00': 16,
 '13:30:00 15:00:00': 17,
 '14:00:00 15:30:00': 18,
 '14:30:00 16:00:00': 19,
 '15:00:00 16:30:00': 20,
 '15:30:00 17:00:00': 21,
 '16:00:00 17:30:00': 22,
 '16:30:00 18:00:00': 23,
 '17:00:00 18:30:00': 24,
 '17:30:00 19:00:00': 25,
 '18:00:00 19:30:00': 26,
 '18:30:00 20:00:00': 27,
 '19:00:00 20:30:00': 28,
 '19:30:00 21:00:00': 29,
 '20:00:00 21:30:00': 30,
 '20:30:00 22:00:00': 31,
 '21:00:00 22:30:00': 32}

In [46]:
def sumar_time(tiempo1, tiempo2, op='sum'):
    # Convertir los objetos time a objetos datetime
    dt1 = datetime.combine(datetime.today(), tiempo1)
    dt2 = datetime.combine(datetime.today(), tiempo2)

    # Sumar los objetos datetime
    if op == 'sum':
        resultado_dt = dt1 + timedelta(hours=dt2.hour, minutes=dt2.minute, seconds=dt2.second)
    elif op == 'res':
        resultado_dt = dt2 - timedelta(hours=dt1.hour, minutes=dt1.minute, seconds=dt1.second)
        
    # Convertir el resultado de datetime a time
    resultado_time = resultado_dt.time()

    # Imprimir el resultado
    return resultado_time

In [50]:
#metricas_df = pd.DataFrame(columns=['ids', 'rango_horas', 'n_horas'])#, 'total_time', 'hora', 'rg15min' ,'n_rg15min', 't_rg15min', 'rg15min_f'])
dfs = []
c = []
ie = []
sample_time = []
for ids, df in data.groupby('id_sample'):
    # # de 1 h
    # # df['rg_hora'] = df['time'].value_counts().keys()[0]

    # de 15 min
    f = df[name_col].value_counts()[:5]
    g = sumar_time(f.sort_index().index[0], time(1, 0 if n == 60 else n))
    rf = f"{f.sort_index().index[0]} {g}"
    df[name_col] = rf

    dfs.append(df)
     
    # tmp = (df.iloc[-1, 6] - df.iloc[0, 5]).total_seconds()
    # rango = str(df.iloc[0, 14]) + ' ' + str(df.iloc[-1, 14])
    # metricas_df.loc[len(metricas_df)] = [
    #     ids, 
    #     list(df['time'].value_counts()), 
    #     len(df['time'].unique()), df['travel_time'].sum(), 
    #     df['time'].value_counts().keys()[0],
    #     rango]
    # #     list(df['rg15min'].value_counts().items()),
    # #     len(list(df['rg15min'].value_counts().items())),
    # #     rf
    # # ]

    # #c.append(len(list(df['time'].value_counts().items())))
    # #ie.append(rango)
    c.append(len(list(df['time'].unique())))
    sample_time.append(df['travel_time'].sum())

    

#data = pd.concat(dfs)

In [39]:
len(c)

2559

In [38]:
Counter(c)

Counter({2: 1860, 3: 679, 1: 20})

In [40]:
print(Counter(c))
print(dict(zip(Counter(c).keys(), list(map(lambda e: str(round(e/2559, 3)*100)+' %', Counter(c).values())))))

Counter({2: 1860, 3: 679, 1: 20})
{2: '72.7 %', 3: '26.5 %', 1: '0.8 %'}

In [91]:
# 
# print(len(Counter(ie)))
# print(len(Counter(Counter(ie).values())))
# print(Counter(Counter(ie).values()))

In [92]:
# print(metricas_df.sort_values(by=['t_rg15min']) .to_string())

In [42]:
from statistics import mean, pstdev
# sample_time = metricas_df['total_time']
print(f"Promedio es 0{mean(sample_time)//3600:.0f}:{mean(sample_time)%3600/60:.0f}h")
print(f"con Desviacion Standar {pstdev(sample_time)//60:.0f}min")
print(f'max: 0{max(sample_time)/3600:.0f}:0{max(sample_time)%3600/60:.0f}h , min: {min(sample_time)/60:.0f}min')

Promedio es 01:18h
con Desviacion Standar 8min
max: 02:08h , min: 49min

In [95]:
data.to_csv("G:\Mi unidad\dataset\\travel_time_series.csv", index=False)

In [51]:
data

,id_sample,id_linkref,init_stop,end_stop,linkref,init_datetime,end_datetime,travel_time,init_idp,end_idp,veh,lap,date,time,rg30min
0,0,0,0,36,0:36,2023-03-01 07:24:22,2023-03-01 07:27:33,191.0,NaN,NaN,SJ01,1.0,2023-03-01,07:00:00,07:30:00
1,0,1,36,37,36:37,2023-03-01 07:27:33,2023-03-01 07:29:19,106.0,13190622.0,13190922.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00
2,0,2,37,38,37:38,2023-03-01 07:29:19,2023-03-01 07:30:49,90.0,13190922.0,13191197.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00
3,0,3,38,39,38:39,2023-03-01 07:30:49,2023-03-01 07:31:13,24.0,13191197.0,13191276.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00
4,0,4,39,40,39:40,2023-03-01 07:31:13,2023-03-01 07:32:29,76.0,13191276.0,13191535.0,SJ01,1.0,2023-03-01,07:00:00,07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212392,2559,78,113,114,113:114,2023-03-25 07:51:20,2023-03-25 07:51:32,12.0,17230377.0,17230410.0,SJ42,1.0,2023-03-25,07:00:00,08:00:00
212393,2559,79,114,115,114:115,2023-03-25 07:51:32,2023-03-25 07:53:02,90.0,17230410.0,17230632.0,SJ42,1.0,2023-03-25,07:00:00,08:00:00
212394,2559,80,115,116,115:116,2023-03-25 07:53:02,2023-03-25 07:53:14,12.0,17230632.0,17230662.0,SJ42,1.0,2023-03-25,07:00:00,08:00:00
212395,2559,81,116,117,116:117,2023-03-25 07:53:14,2023-03-25 07:53:26,12.0,17230662.0,17230688.0,SJ42,1.0,2023-03-25,07:00:00,08:00:00
212396,2559,82,117,118,117:118,2023-03-25 07:53:26,2023-03-25 07:54:02,36.0,17230688.0,17230787.0,SJ42,1.0,2023-03-25,07:00:00,08:00:00